.row-wrapper {
  display: flex;
  flex-direction: row;
}

.inactive .cell {
  background-color: #9ea0a3;
}

.cell {
  background-color: #F7F7F7;
  border: 2px solid white;
  padding: 5px;
}

.header {
  background-color: #d9e6fc;
  font-weight: bold;
}

.id {
  width: 60px;
}

.name {
  width: 225px;
}

.description {
  width: 500px;
}

.activity {
  width: 60px;
}

.button {
  width: 55px;
  height: inherit;
  align-self: center;
}

p {
  margin: 7px;
}
