.row-wrapper {
  display: flex;
  flex-direction: row;
}

.inactive .cell {
  background-color: lightgrey;
}

.cell {
  background-color: #F7F7F7;
  border: 2px solid white;
  padding: 5px;
}

.header {
  background-color: #d9e6fc;
}

.id {
  width: 60px;
}

.name {
  width: 225px;
}

.description {
  width: 500px;
}

.button {
  height: 20px;
  width: 20px;
}
